/* Globalne varijable */
:root {
  --primary-color: #d4af37;
  --background-color: #0a0a0a;
  --text-color: #faebd7;
  --font-family: "Roboto", sans-serif;
  --font-secondary: "Playfair Display", serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: width 0.3s ease, height 0.3s ease;
}

/* Globalni stilovi */
body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  font-family: var(--font-secondary);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.btn {
  font-size: 1.5rem;
  padding: 10px 30px;
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 700;
  border: none;
  border-radius: 34px;
}

.btn-icon img {
  height: 1.5rem;
  width: auto;
  margin-right: 10px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn-primary:hover,
.btn-primary:active,
:not(.btn-check) + .btn:active,
.btn:first-child:active {
  background-color: #b8902e;
  color: var(--text-color);
}

.btn-gold-outline {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--primary-color);
}

.btn-gold-outline:hover,
.btn-gold-outline:active {
  background-color: var(--primary-color);
  color: var(--background-color);
}

/* Navbar */

.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-brand img {
  height: 60px;
  width: auto;
  transition: width 0.3s ease, height 0.3s ease;
}

.nav-link {
  color: var(--text-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 20px;
  font-family: var(--font-secondary);
  transition: font-size 0.3s ease;
}

.menu-scrolled {
  background-color: rgba(10, 10, 10, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.menu-scrolled.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-scrolled .navbar-brand img {
  height: 40px;
}

.menu-scrolled .nav-link {
  font-size: 1rem;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--primary-color);
}

.nav-item:last-child {
  margin-right: 0px;
}

.nav-item .nav-link.btn {
  padding: 10px 25px;
}

.nav-item .nav-link.btn:hover,
.nav-item .nav-link.btn:active,
.nav-item .nav-link.btn:focus,
:not(.nav-item .nav-link.btn-check) + .nav-item .nav-link.btn:active {
  background-color: #b8902e;
  color: var(--text-color);
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url(img/music-menu.svg);
}

.navbar .navbar-nav.ml-auto {
  display: flex;
  align-items: center;
}

.offcanvas-body,
.offcanvas-header {
  background-color: var(--background-color);
}

.offcanvas-body .navbar-nav .nav-item {
  margin-bottom: 1rem;
}

.offcanvas-body .navbar-nav .nav-link {
  font-size: 1.2rem;
  margin-right: 0px;
}

.offcanvas-body .social-network-icons-nav a {
  margin-left: 0px;
}

.btn-close {
  width: 10px;
  height: 10px;
  background-image: url(img/x-mark.svg);
  background-size: cover;
}

.offcanvas-body .social-network-icons-nav .nav-link {
  margin-bottom: 10px;
}

.social-network-icons-nav a {
  margin-left: 5px;
  margin-right: 5px;
}

.social-network-icons-nav a img {
  height: 30px;
  width: auto;
  filter: brightness(0) saturate(100%) invert(77%) sepia(96%) saturate(1033%)
    hue-rotate(337deg) brightness(94%) contrast(75%);
}

.social-network-icons-nav .nav-link img {
  transition: transform 0.3s ease-in-out;
}

.social-network-icons-nav .nav-link:hover img {
  transform: translateY(-5px);
  animation: bounce 0.5s infinite alternate;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(93deg) brightness(103%) contrast(103%);
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* Hero section */

.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  z-index: 10;
}

.hero-text h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--text-color);
  max-width: 600px;
}

.hero-text h4 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--text-color);
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: var(--swiper-pagination-bullet-inactive-color, #d4af37);
}

.swiper-pagination-bullet-active {
  background: #d4af37;
}

/* Sections */

.highlight-text {
  max-width: 800px;
  margin: 0 auto;
}

.highlight-text p {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;
}

.clan-card {
  border-radius: 8px;
  background-color: var(--text-color);
  box-shadow: 0px 4px 8px var(--primary-color);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.clan-card:hover {
  box-shadow: 0 8px 16px rgba(212, 175, 55, 0.8);
  cursor: pointer;
}

.clan-card:hover .clan-ime {
  color: var(--background-color);
  background-color: var(--background-color);
}

.clan-slika {
  position: relative;
  width: 100%;
  height: 250px;
}

.clan-slika img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.clan-ime {
  color: var(--background-color);
  font-size: 1.5rem;
  text-align: center;
  padding: 5px 0;
  font-family: var(--font-secondary);
}

.clan-info {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.9);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  transition: bottom 0.3s ease;
}

.clan-card:hover .clan-info {
  bottom: 0;
}

.clan-info h4,
.clan-info p {
  margin: 0;
  padding: 5px 0;
}

.clan-roles img {
  margin-right: 5px;
  height: 20px;
  width: auto;
  filter: brightness(0) saturate(100%) invert(77%) sepia(96%) saturate(1033%)
    hue-rotate(337deg) brightness(94%) contrast(75%);
}

.bg-img-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.repertoar-section {
  position: relative;
}

.section-content {
  position: relative;
  z-index: 2;
}

.repertoar-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-icon img {
  height: 1.6rem;
  width: auto;
}

.video-section .btn-primary,
.galerija-section .btn-primary,
.video-section .btn-primary:active,
.galerija-section .btn-primary:active {
  color: var(--background-color);
}

.galerija-slika a {
  max-height: 200px;
}

.galerija-slika img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.galerija-slika {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.galerija-slika a {
  flex: 1 0 20%;
  max-width: 20%;
  margin-bottom: 10px;
}

/* Rezervacija */

.rezervacija-section {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.rezervacija-section::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  background-color: var(--background-color);
  opacity: 0.7;
  z-index: 1;
}

.rezervacije-kontakt {
  margin-right: 20px;
}

.rezervacije-kontakt a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  transition: 0.3s ease;
}

.rezervacije-kontakt a:hover {
  color: var(--primary-color);
}

.rezervacije-kontakt:last-child {
  margin-right: 0px;
}

.rezervacije-kontakt img {
  filter: brightness(0) saturate(100%) invert(77%) sepia(96%) saturate(1033%)
    hue-rotate(337deg) brightness(94%) contrast(75%);
  height: 24px;
  width: auto;
}

.rezervacije-tekst p:last-child {
  margin-bottom: 0px;
}

.kalendar-blok h4 {
  color: var(--text-color);
}

.kalendar-blok {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
}

#calendar {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.fc a {
  color: var(--background-color);
  text-decoration: none;
  pointer-events: none;
}

.fc-toolbar-title {
  color: var(--background-color);
  font-family: var(--font-secondary);
  font-weight: bold;
}

.fc-daygrid-event-harness a {
  background-color: transparent;
  text-align: center;
  border: 1px solid red;
}

.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: none;
}

.fc-list-empty-cushion {
  color: var(--background-color);
}

.fc-list-event-time {
  display: none;
}

.fc .fc-list-event-dot {
  border-color: red;
}

.kalendar-tekst {
  max-width: 600px;
  margin: 0 auto;
}

/* Footer */

.footer {
  background-color: var(--background-color);
  color: #ffffff;
  padding: 20px 0;
}
.footer .footer-logo img {
  width: 150px;
}
.footer .footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  transition: width 0.3s ease, height 0.3s ease;
}
.footer .footer-links a:hover {
  text-decoration: underline;
}

.footer .social-icons a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.5rem;
}

footer .social-icons img {
  transition: width 0.3s ease, height 0.3s ease;
  height: 20px;
  width: auto;
  filter: brightness(0) saturate(100%) invert(77%) sepia(96%) saturate(1033%)
    hue-rotate(337deg) brightness(94%) contrast(75%);
}

footer .social-icons img:hover {
  filter: brightness(0) saturate(100%) invert(97%) sepia(100%) saturate(13%)
    hue-rotate(209deg) brightness(105%) contrast(105%);
}

/* Kontakt Modal */

.modal-body,
.modal-header {
  background-color: rgba(10, 10, 10, 0.9) !important;
}

.modal-content {
  --bs-modal-bg: transparent;
}

.modal-header {
  border-bottom: 1px solid var(--primary-color);
}

.modal-icons {
  margin-right: 5px;
}

.modal-icons img {
  height: 24px;
  width: auto;
  filter: brightness(0) saturate(100%) invert(77%) sepia(96%) saturate(1033%)
    hue-rotate(337deg) brightness(94%) contrast(75%);
}

.modal-contact-info {
  margin-right: 10px;
}

.modal-contact-info:last-child {
  margin-right: 0px;
}

.modal-contact-info a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}

.modal-contact-info a:hover {
  color: var(--primary-color);
}

.form-control {
  border: 1px solid var(--background-color);
  color: var(--background-color);
}

.form-control:focus {
  border: 1px solid var(--background-color);
  box-shadow: none;
}

.form-floating label {
  color: var(--background-color);
}

/* Responsive */

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  .hero-text h1 {
    font-size: 3rem;
  }
  .hero-text h4 {
    font-size: 1.2rem;
  }
  .btn {
    font-size: 1.3rem;
    padding: 10px 25px;
  }
  .navbar-brand img {
    height: 50px;
    width: auto;
  }
  .nav-link {
    font-size: 1rem;
  }
  .clan-info h4 {
    font-size: 18px;
  }
  .clan-info p {
    font-size: 14px;
  }
  .rezervacije-tekst p {
    font-size: 14px;
  }
  .rezervacije-kontakt a {
    font-size: 1.2rem;
  }
  .rezervacije-kontakt img {
    height: 20px;
  }
}

@media (max-width: 991.98px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }
  .hero-text h4 {
    font-size: 1rem;
  }
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .highlight-text p {
    font-size: 1rem;
  }
  .galerija-slika a {
    flex-basis: 45%;
    max-width: 45%;
  }
  .clan-slika {
    height: 200px;
  }
}

@media (max-width: 767.98px) {
  h2 {
    font-size: 2.5rem;
  }
  .section-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .hero-section {
    height: 70vh;
  }
  .hero-text h1 {
    font-size: 1.8rem;
  }
  .hero-text h4 {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
  .clan-slika {
    height: 220px;
  }
  .clan-ime {
    font-size: 1.3rem;
  }
  .rezervacije-kontakt a {
    font-size: 16px;
  }
  .rezervacije-kontakt img {
    height: 16px;
  }
}

@media (max-width: 575.98px) {
  h2 {
    font-size: 2rem;
  }
  .section-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .hero-section {
    height: 60vh;
  }
  .hero-text h1 {
    font-size: 1.3rem;
  }
  .hero-text h4 {
    font-size: 0.9rem;
  }
  .btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .highlight-text p {
    font-size: 0.9rem;
  }
  .clan-slika {
    height: 200px;
  }
  .clan-ime {
    font-size: 1.2rem;
  }
  .rezervacije-kontakt a {
    font-size: 14px;
  }
  .rezervacije-kontakt img {
    height: 14px;
  }
  .fc .fc-toolbar-title {
    font-size: 18px;
  }
  .fc .fc-today-button {
    display: none;
  }
  .fc .fc-button {
    font-size: 16px;
  }
}
